<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Coronavirus Tracker Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</link>
</head>

<body>
	<div class="container">
		<h1>COVID19 Tracker Application</h1>
		<p>This application lists the current number of cases reported across the
			<b>GLOBE</b></p>
<!-- 		<p><b><input type="button" onclick="location.href='/tracker/countryWise'" value="Submit"/> -->
<!-- 		TO VIEW COVID19 DATA INDIA</b></p> -->
		<p><b><a href='/tracker/countryWise'>
		CLICK ON TO VIEW COVID19 INDIA DATA</a></b></p>
		<div class="jumbotron">
			<h1 class="display-4" th:text="${totalReportedCases}"></h1>
			<p class="lead">Total cases reported as of today</p>
			<hr class="my-4">
				<p>
					<span>New cases reported since previous day</span> 
					<b><span th:text="${newReportedCases}"></span></b>
				</p>
				<p>
					<span>Total no of deaths across globe</span> 
					<b><span th:text="${totalDeathReported}"></span></b>
				</p>
			</hr>
		</div>

		<table class="table">
			<tr>
				<th>State</th>
				<th>Country</th>
				<th>Total Cases Reported</th>
				<th>Changes since last day</th>
				<th>Total no of Deaths</th>
			</tr>
			<tr th:each="locationStat : ${locationStats}">
				<td th:text="${locationStat.state}"></td>
				<td th:text="${locationStat.country}"></td>
				<td th:text="${locationStat.latestTotalCases}">0</td>
				<td th:text="${locationStat.diffFromPrevDay}">0</td>
				<td th:text="${locationStat.noOfDeaths}">0</td>
			</tr>
		</table>
	</div>
</body>

</html>